<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="VPOD" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\CDL\CDL-VPOD\cdl_vpod\Scripts\python.exe|D:\CDL\CDL-VPOD\cdl_vpod\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
